#heading1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 20px;
}

#uob-h1 {
    text-transform: none;
    color: #007BFF;
}

table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 95%;
    margin: 0 auto;
    overflow-x: auto;
    border: 5px solid black;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #bdb5b554;
}